.design-content {
  width: 75%;
  max-width: 1280px;
}

h1 {
  color: #373274;
  font-weight: 500;
}

.content {
  padding-top: 1em;
}

mat-card-header.design-header {
  padding: 0.5em 1em;
  background-color: #171530;
  background-image: url('~src/assets/images/layout/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  font-weight: 500;
}

mat-card-header .design-title {
  font-size: 1.3em;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .design-content {
    width: 90%;
  }
}
